[Unit]
Description=Cytovale Application Service

[Service]
Type=notify
ExecStart=/bin/bash -c "/home/root/cym-app-startup.sh"

[Install]
WantedBy=cym-webserver.service
