[Unit]
Description=NVM Partition mounting
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c "/home/root/nvm-partition.sh"
RemainAfterExit=True

