[Unit]
Description=NVM Partition mounting
After=basic.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c "/home/root/nvm-partition.sh"
RemainAfterExit=True

[Install]
WantedBy=multi-user.target
