[Unit]
Description=Low Level Hardware Init
After=basic.target

[Service]
Type=notify
ExecStart=/etc/init-lowlevel.sh

[Install]
WantedBy=cym-app-startup.service