[Unit]
Description=Cytovale Django Webserver
After=nvm-partition.service

[Service]
Type=notify
#ExecStart=/bin/bash -c "/home/root/cym-webserver.sh"
ExecStart=/bin/bash -c "echo 1"

[Install]
WantedBy=nvm-partition.service
