[Unit]
Description=Cytovale Django Webserver
After=nvm-partition.service

[Service]
Type=notify
ExecStart=/bin/bash -c "/home/root/cym-webserver.sh"

[Install]
After=multi-user.target
WantedBy=multi-user.target
